# Aircraft Risk Analysis.

## Project Overview
Our company is diversifying its portfolio by entering the aviation industry. To ensure a safe and successful entry, the leadership team is exploring which aircraft models are lowest risk for purchase and operation. This project aims to analyze historical aviation accident data to determine which aircraft present the **lowest operational risk**, enabling data-driven acquisition decisions for both **commercial** and **private enterprise** use cases.

![aircraft](images\aircraft.jpg)

Photo by <a href="https://media.istockphoto.com/id/1455888136/photo/luxury-private-jet.jpg?s=612x612&w=0&k=20&c=jtAd4usrdWHczYRQtc4WfSbBjhU2xB7gNv13fgLrz_k=">dicus63</a> on <a href="https://media.istockphoto.com/id/1455888136/photo/luxury-private-jet.jpg?s=612x612&w=0&k=20&c=jtAd4usrdWHczYRQtc4WfSbBjhU2xB7gNv13fgLrz_k=">Istock</a>

## Business Understanding
### Problem Statement
> The company is planning to enter the aviation industry but lacks expertise in identifying safe and reliable aircraft. The task is analyzing aviation incident data to determine which aircraft are the **lowest risk**. Your insights will help the aviation division make informed purchasing decisions.

### Objectives
- Identify aircraft models with **the fewest or least severe incidents**.
- Understand patterns and risk factors across different aircraft.
- Providing actionable recommendations in to our stakeholders who are non technical

In [5]:
import pandas as pd

In [12]:
# loading AviationData.csv as aviation_df 
aviation_df = pd.read_csv("AviationData.csv", encoding="ISO-8859-1")
aviation_df.head()

c:\Users\user\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [13]:
# dimensionality of the data
aviation_df.shape

(88889, 31)

In [11]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

## Data Understanding
The dataset contains historical records of aviation incidents and accidents, including:
- Aircraft information (Make, Model, Engine Type)
- Incident characteristics (Injury Severity, Damage, Weather Conditions)
- Operational context (Purpose of Flight, Number of Engines)

## Data Cleaning
### Handling missing values

In [14]:
aviation_df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

Our Dataset contains many null and inconsistent values. The first step is to identify the columns that are irrelevant to my dataset and drop them.
I did my cleaning on a copy of the original dataset.

In [ ]:
drop_cols = [
    "Publication.Date", "Report.Status", "FAR.Description",
    "Air.carrier", "Schedule", "Airport.Code", "Airport.Name",
    "Latitude", "Longitude", "Registration.Number"
]
aviation_df_cleaned = aviation_df.drop(columns=drop_cols).copy()

In [30]:
aviation_df_cleaned.isna().sum()

Event.Id                  0
Investigation.Type        0
Accident.Number           0
Event.Date                0
Location                  0
Country                   0
Injury.Severity           0
Aircraft.damage           0
Aircraft.Category         0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
dtype: int64

- I decided to fill the missing values of the key category columns with 'Unknown'

In [19]:
fill_unknown = [
    "Injury.Severity", "Aircraft.damage", "Amateur.Built",
    "Engine.Type", "Purpose.of.flight", "Weather.Condition",
    "Broad.phase.of.flight"
]
aviation_df_cleaned[fill_unknown] = aviation_df_cleaned[fill_unknown].fillna('Unknown')

In [22]:
aviation_df_cleaned['Number.of.Engines'].value_counts()

1.0    75666
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

- `Number.of.Engines` was filled with 1 (default assumption for small aircraft)

In [ ]:
# filling the number of engines column with 1 
aviation_df_cleaned["Number.of.Engines"] = aviation_df_cleaned["Number.of.Engines"].fillna(1)
aviation_df_cleaned["Number.of.Engines"].isna().sum()

0

- Location-related fields (`Country`, `Location`) were filled with `"Unknown"` to preserve rows for potential future insights.

In [25]:
# fill 'country' and 'location' with 'unknown'
aviation_df_cleaned["Country"] = aviation_df_cleaned["Country"].fillna("Unknown")
aviation_df_cleaned["Location"] = aviation_df_cleaned["Location"].fillna("Unknown")

In [26]:
# drop rows with missing values in 'Event.Date' or 'Accident.Number'
aviation_df_cleaned.dropna(subset=["Event.Date", "Accident.Number"], inplace=True)
aviation_df_cleaned.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Injury.Severity               0
Aircraft.damage               0
Aircraft.Category         56602
Make                         63
Model                        92
Amateur.Built                 0
Number.of.Engines             0
Engine.Type                   0
Purpose.of.flight             0
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition             0
Broad.phase.of.flight         0
dtype: int64

In [27]:
# filling missing numerical columns with 0 (assume no injuries unless recorded)
injury_cols = [
    'Total.Fatal.Injuries', 'Total.Serious.Injuries',
    'Total.Minor.Injuries', 'Total.Uninjured'
]
aviation_df_cleaned[injury_cols] = aviation_df_cleaned[injury_cols].fillna(0)


- Key fields like `Make` and `Model` are **critical** for risk analysis — rows missing these were dropped.

In [28]:
# Drop rows missing Make or Model – critical for identifying aircraft risk
aviation_df_cleaned.dropna(subset=['Make', 'Model'], inplace=True)

In [ ]:
# filling missing values Aircraft.Category with 'unknown'
aviation_df_cleaned['Aircraft.Category'] = aviation_df_cleaned['Aircraft.Category'].fillna('Unknown')

In [31]:
aviation_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88777 non-null  object
 1   Investigation.Type      88777 non-null  object
 2   Accident.Number         88777 non-null  object
 3   Event.Date              88777 non-null  object
 4   Location                88777 non-null  object
 5   Country                 88777 non-null  object
 6   Injury.Severity         88777 non-null  object
 7   Aircraft.damage         88777 non-null  object
 8   Aircraft.Category       88777 non-null  object
 9   Make                    88777 non-null  object
 10  Model                   88777 non-null  object
 11  Amateur.Built           88777 non-null  object
 12  Number.of.Engines       88777 non-null  float64
 13  Engine.Type             88777 non-null  object
 14  Purpose.of.flight       88777 non-null  object
 15  Total.Fatal.Injuries    88777 non-null  float64
 16  Total.Serious.Injuries  88777 non-null  float64
 17  Total.Minor.Injuries    88777 non-null  float64
 18  Total.Uninjured         88777 non-null  float64
 19  Weather.Condition       88777 non-null  object
 20  Broad.phase.of.flight   88777 non-null  object
dtypes: float64(5), object(16)
memory usage: 14.9+ MB